.search-tree {
  position: relative;
  width: 300px;
}

.search-tree tree-node .tree-node-title.highlight {
  color: green;
  text-decoration: underline;
}

.search-tree tree-node .tree-node-title.highlight::after {
  content: "<--"
}

.search-tree tree-node .tree-node-title.highlight-parent {
  color: orange;
  font-style: italic;
}
