.search-legend {
    margin-bottom: 15px;
}

.search-legend .box-highlight {
    display: inline-block;
    background-color: green;
    height: 16px;
    width: 16px;
}

.search-legend .box-highlight-parent {
    display: inline-block;
    background-color: orange;
    height: 16px;
    width: 16px;
}

.search-tree {
  position: relative;
  width: 300px;
}

.search-tree tree-node .tree-node-title.highlight {
  color: green;
  text-decoration: underline;
}

.search-tree tree-node .tree-node-title.highlight::after {
  content: "<--"
}

.search-tree tree-node .tree-node-title.highlight-parent {
  color: orange;
  font-style: italic;
}
