tree-node {
  display: block;

  &.tree-node--selected {
    & > div {
      & > ul {
        & > li {
          & > div {
            background-color: lightgrey;
          }
        }
      }
    }
  }

  ul.tree-node__wrapper {
    list-style: none;
    padding: 0 0 0 20px;

    li {
      div.tree-node__title-wrapper {
        border-radius: 5px;
        display: flex;
        line-height: 31px;
        padding: 5px;
        width: fit-content;

        span {
          &.tree-node-border-icon {
            // display: none;
            visibility: hidden;
            // position: relative;
            // top: 7px;
            // transform: rotate(90deg);
          }
          &.tree-node-arrow {
            cursor: pointer;
            position: relative;
            top: 4px;
          }
          &.tree-node-rotate {
            // -webkit-animation-name: spin;
            // -webkit-animation-duration: 400ms;
            // -webkit-animation-iteration-count: infinite;
            // -webkit-animation-timing-function: linear;
            // -moz-animation-name: spin;
            // -moz-animation-duration: 400ms;
            // -moz-animation-iteration-count: infinite;
            // -moz-animation-timing-function: linear;
            // -ms-animation-name: spin;
            // -ms-animation-duration: 400ms;
            // -ms-animation-iteration-count: infinite;
            // -ms-animation-timing-function: linear;

            animation-name: spin;
            animation-duration: 400ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
          &.tree-node-title {
            cursor: pointer;
            flex-grow: 1;
          }
        }
      }
    }
  }
}

// @-ms-keyframes spin {
//     from { -ms-transform: rotate(0deg); }
//     to { -ms-transform: rotate(360deg); }
// }
// @-moz-keyframes spin {
//     from { -moz-transform: rotate(0deg); }
//     to { -moz-transform: rotate(360deg); }
// }
// @-webkit-keyframes spin {
//     from { -webkit-transform: rotate(0deg); }
//     to { -webkit-transform: rotate(360deg); }
// }
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
