tree-view {
  display: block;
  position: relative;
  border: solid 1px transparent;

  // &.drag-over {
  //   border: dashed 1px red;
  // }
  //
  // .drag-over {
  //   border: dashed 1px grey;
  // }
}
